<div class="header pb-6 d-flex align-items-center"
     style="min-height: 170px; background-image: url(../../../../../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{name}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a routerLink="/application"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a routerLink="/application/profile">{{name}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{option}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
