<div class="bg-default p-4">
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 ">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Welcome To Library Books!</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Reset Password</small>
              </div>
              <form [formGroup]="form" (ngSubmit)="send()">
                <div class="form-group mb-3">
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input formControlName="email"
                           type="text"
                           [ngClass]="{
               'is-valid': form.get('email').valid,
               'is-invalid': form.get('email').invalid && (form.get('email').touched || (form.get('email').dirty))
               }"
                           class="form-control" placeholder="Email">
                    <div
                      *ngIf="form.get('email').invalid && (form.get('email').touched) || (form.get('email').dirty)"
                      class="invalid-feedback">
                      <div *ngIf="form.get('email').getError('required')">this field is required</div>
                      <div *ngIf="form.get('email').getError('email')">this field should be email address</div>
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input formControlName="password"
                           type="password"
                           [ngClass]="{
               'is-valid': form.get('password').valid,
               'is-invalid': form.get('password').invalid && (form.get('password').touched || (form.get('password').dirty))
               }"
                           name=""
                           id="password"
                           class="form-control"
                           placeholder="Password">
                    <div
                      *ngIf="form.get('password').invalid && (form.get('password').touched) || (form.get('password').dirty)"
                      class="invalid-feedback">
                      <div *ngIf="form.get('password').getError('required')">this field is required</div>
                      <div *ngIf="form.get('password').getError('minlength')">this field should be 8 caracters</div>
                      <div *ngIf="form.get('password').getError('maxlength')">this field should be 8 caracters</div>
                      <div *ngIf="form.get('password').errors?.serverError">{{ form.get('password').errors?.serverError }}</div>
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input formControlName="confirmPassword"
                           type="password"
                           [ngClass]="{
               'is-valid': form.get('confirmPassword').valid,
               'is-invalid': form.get('confirmPassword').invalid && (form.get('confirmPassword').touched || (form.get('confirmPassword').dirty))
               }"
                           name=""
                           id="confirmPassword"
                           class="form-control"
                           placeholder="confirmPassword">
                    <div
                      *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').touched) || (form.get('confirmPassword').dirty)"
                      class="invalid-feedback">
                      <div *ngIf="form.get('confirmPassword').getError('required')">this field is required</div>
                      <div *ngIf="form.get('confirmPassword').getError('minlength')">this field should be 8 caracters</div>
                      <div *ngIf="form.get('confirmPassword').getError('maxlength')">this field should be 8 caracters</div>
                      <div *ngIf="form.get('confirmPassword').getError('confirmPasswordMatch')">this field should be equal feild password</div>
                    </div>
                  </div>

                </div>
                <div class="text-center">
                  <button class="btn btn-primary my-4" [disabled]="form.invalid">Change Password</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a routerLink="/auth/login" class="text-light"><small>Login To your Account?</small></a>
            </div>
            <div class="col-6 text-right">
              <a routerLink="/auth/register" class="text-light"><small>Create new account</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
